<div class="quiz__container">
    <div class="quiz_logo">
        <img src="assets/imgs/logo.png" alt="">
        <h3>{{title}}</h3>
    </div>
    <div *ngIf=!finished class="quiz_questions">
        <h3>{{questionSelected.question}}</h3>
    </div>
    <div *ngIf=!finished class="quiz_options">
        <button
            *ngFor="let option of questionSelected.options"
            (click)="playerChoose(option.alias)"
            class="btn-option"
        >
            {{option.name}}
        </button>
    </div>
    <div *ngIf=finished class="quiz_results">
        <h1>O seu resultado é:</h1>
        <p>{{answerSelected}}</p>
        <img *ngIf=!isHero src="https://imagens.brasil.elpais.com/resizer/nCpDbZnTqbBMJsTdXM6xmN17xpg=/1960x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TIOUTQV4DCNJTPRHFBQQCYQGA.jpg" alt="">
        <img *ngIf=isHero src="https://i.uai.com.br/oQyJL4f1KVaK4TvFM2mkZXSfkkI=/750x0/imgsapp2.uai.com.br/app/noticia_133890394703/2023/02/12/317708/batman-nos-quadrinhos-da-dc_1_59778.jpg" alt="">
    </div>
</div>
